# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lógica de Programação/JavaApplication14/nbproject/private/
/Lógica de Programação/JavaApplication14/build/
/Lógica de Programação/Ordenacao/nbproject/private/
/Lógica de Programação/Ordenacao/build/
/Lógica de Programação/Analise/nbproject/private/
/Lógica de Programação/Analise/build/
/Analise/build/
/Analise/nbproject/private/
/Analise e Programação/build/
/Analise e Programação/nbproject/private/
/Lógica de Programação/Aula2/nbproject/private/
/Lógica de Programação/Aula2/build/
/Lógica de Programação/Aulas/nbproject/private/
/Lógica de Programação/Aulas/build/